@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    outline: 0; 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    background: #1c1c1c;
    padding: 20px;
    width: 100vw;
    height: 30px;
    justify-content: center;
}

#sidebar_btn{
  position: fixed;
}



.left h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
}


.left span{
    color: #51b3ec;
}


.sair_btn{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 70px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #1c1c1c;
    transition: 0.5s;
    transition-property: background;
}


.sair_btn:hover{
    background: #1c1c1c;
    color: #fff;
}


.sidebar{
    position: fixed;
    width: 250px;
    height: 200%;
    margin-top: 70px;
    padding-top: 30px;
    left: 0;
    background-image: linear-gradient(120deg, #1c1c1c, #464646, #1c1c1c);
    transition: 0.5s;
    transition-property: left;
}


.sidebar .image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}


.sidebar h2{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}


.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property:background ;
}


.sidebar a:hover{
    background: #1c1c1c;
}


.sidebar ion-icon{
    padding-right: 10px;
}


label #sidebar_btn{
    z-index: 1;
    position: fixed;
    left: 300px;
    color: #fff;
    font-size: 25px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.5s;
    transition-property:color ;
}


label #sidebar_btn:hover{
    color: #464646;
}


#check:checked ~ .sidebar{
    left: -190px;
}


#check:checked ~ .sidebar a span{
    display: none;
}


#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}


.content{
    background: url(/image/img-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: 0.5s;
}


#check:checked ~ .content{
    margin-left: 60px;
}


#check{
    display: none;
}


body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: sans-serif;
}


body {
  height: 100vh;
}


.menu li {
  margin-left: 10px;
}


.menu li a {
  display: block;
  padding: 10px;
}


.box{
    background-color:#1c1c1c;
    color: #fff;
    border-radius: 20px 40px;
    height: 15vh;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100px;
    transition: all 0.5 ease;
 }

 
 .box:hover{
     background-color: #464646; 
  }
 
 
 .flex {
   display: flex;
   flex-wrap: wrap;
   max-width: 900px;
   margin: 0 auto;
 }
 

 .flex > div {
   flex: 1 1 200px;
   margin: 20px;
 }

 .main{
   margin-top: 5%;
 }

 #mat{
   background-color: #51b3ec;
   height: 15vh;
   width: 200px;
   transition: all 0.5s ease; 
   border:#1c1c1c 2px solid;
   font-size: 1.2rem;
 }

 #mat:hover{
   background-color: #ffffff;
   border:#51b3ec 2px solid;
   color:#1c1c1c;
   font-size: 1.5rem;
 }

 #port{
    background-color: #bf0000;
    height: 15vh;
    width: 200px;
    font-size: 1.2rem;
    transition: all 0.5s ease; 
    border:#1c1c1c 2px solid;
 }

 #port:hover{
  background-color: #ffffff;
  border:#bf0000 2px solid;
  color:#1c1c1c;
  font-size: 1.5rem;
 }

 @media (max-width: 1350px){
  .flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
  }

  .flex > div {
    flex: 1  200px;
    margin: 20px;
  }
 }


 @media (max-width: 1000px){
  .flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    margin: 0 auto;
  }

  .flex > div {
    flex: 1 200px;
    margin: 20px;
  }
 }
 